/* @font-face reference: https://css-tricks.com/snippets/css/using-font-face/ */
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

/* by referencing the name of the font-family used in @font-face, we are able to use the font */
/* NOTE: we must also include the ".woff" file in our directory in oprder to use the font */
h1 {
    font-family: 'sega logo font';
}